[Unit]
Description=Run a Copr build for %I

[Service]
DynamicUser=true
Type=oneshot
ExecStart=/usr/bin/copr \
    --config="${CREDENTIALS_DIRECTORY}/copr" \
    build-package \
        --name="${PACKAGE}" \
        "${PROJECT}"

# vim: syntax=systemd
