[Unit]
Description=Trigger nightly Copr build for %I

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target

# vim: syntax=systemd
